.imgbtnL1 {
    width: 80x; 
    height: 80px;
    text-align: center;
}

.imgbtnL2 {
    width: 50px; 
    height: 50px;
    padding-top: 20px;
    text-align: center;
}

.img {
    height: 60px;
    text-align: center;
}

.imgIcon {
    width: 30px;
    height: 30px;
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.center-div{
  margin: 0 auto;
}

            .slideImg {
                width: 100px;
                padding: 5px 5px;
                //margin: 0px 0px;
                //border: red solid 1px;
                box-sizing: border-box;
                //height: 80px;
            }
            
            #carousel {
                width: 300px;
                overflow: hidden;
                //border: black solid 1px;
                margin: 0 auto;
            }
            
            #carousel ul{
                width: 2000px;
                padding: 0;
                margin: 0;
            }
            
            #carousel ul li{
                list-style: none;
                float: left;
            }
            
            .noMargins {
                //margin: 0;
                padding: 0;
            }

@font-face {
    font-family: "madeInMalaysia";
    src: url("fonts/made in Indonesia.ttf");
}

@font-face {
    font-family: "squadaOneRegular";
    src: url("fonts/SquadaOne-Regular.ttf");
}

@font-face {
    font-family: "generica";
    src: url("fonts/Generica.otf");
}

@font-face {
    font-family: "Generica Bold";
    src: url("fonts/Generica Bold.otf");
}

@font-face {
    font-family: "pWKool";
    src: url("fonts/PWKool.ttf");
}

@font-face {
    font-family: "aero";
    src: url("fonts/Aero.ttf");
}

@font-face {
    font-family: "morningSunshine";
    src: url("fonts/morning sunshine.ttf");
}

@font-face {
    font-family: "scriptThing";
    src: url("fonts/Script Thing.ttf");
}

@font-face {
    font-family: "takeMeHome";
    src: url("fonts/TAKE ME HOME.ttf");
}

@font-face {
    font-family: "Derivia";
    src: url("fonts/Derivia.TTF");
}

.ui-listview>li .title {
    white-space : normal;
    //font-family: 'madeInMalaysia';
    font-family: 'squadaOneRegular';    
    font-size: 15px;
    //color: #3388cc;
    margin: 0px;

}

.ui-listview>li .desc {
    white-space : nowrap;
    //font-family: 'squadaOneRegular';
    font-family: 'squadaOneRegular';
    font-size: 14px;
    color: #649dc9;
}

#itemDesc > p.title {
    white-space: normal;
    //font-family: 'squadaOneRegular';
    font-family: 'squadaOneRegular';
    font-size: 20px;
    color: #3388cc;
    margin: 0px
}

#itemDesc > p.desc {
    white-space: normal;
    //font-family: 'madeInMalaysia';
    font-family: 'squadaOneRegular';
    font-size: 18px;
}

.info_title {
    white-space: normal;
    //font-family: 'squadaOneRegular';
    font-family: 'squadaOneRegular';
    font-size: 20px;
    color: #3388cc;
    margin: 0px
}

.info_desc {
    white-space: normal;
    //font-family: 'madeInMalaysia';
    font-family: 'squadaOneRegular';
    font-size: 18px;
}